.pozadina{
-fx-background-color: #fff;
}

.labeleHelp{
-fx-text-fill: #34495e;
  -fx-font-size: 10px;
  -fx-font-weight: bold;
  }

.close{
 -fx-background-radius: 2;
  -fx-background-color: #3498db;
  -fx-text-fill: white;
  -fx-font-size: 10px;
  -fx-padding: 5px 10px;
  }